In [18]:
import pandas as pd
from tensorflow import keras
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

In [2]:
df = pd.read_csv("./git/데이터/0. 프로토타입용 데이터/prototype_data.csv")

In [3]:
df.head()

,일시,PM-10,"('풍속', 98)","('풍속', 99)","('풍속', 108)","('풍속', 112)","('풍속', 119)","('풍속', 133)","('풍속', 201)","('강수량', 98)",...,month_11,month_12,hour_00,hour_03,hour_06,hour_09,hour_12,hour_15,hour_18,hour_21
0,2023-01-03 03:00:00,27.0,-1.001528,-1.276354,-0.794339,0.077853,-0.865018,-0.777845,-1.041770,-0.194231,...,False,False,False,True,False,False,False,False,False,False
1,2023-01-03 06:00:00,29.0,-1.001528,-1.178118,-0.692980,-0.654746,-1.128880,-0.777845,-1.209365,-0.194231,...,False,False,False,False,True,False,False,False,False,False
2,2023-01-03 09:00:00,30.0,-0.902350,-1.276354,-0.895697,-1.533866,-1.304788,-0.863775,-0.957973,-0.194231,...,False,False,False,False,False,True,False,False,False,False
3,2023-01-03 12:00:00,41.0,-0.604817,-0.981647,-0.084830,-0.508227,-0.513201,-0.262265,-0.957973,-0.194231,...,False,False,False,False,False,False,True,False,False,False
4,2023-01-03 15:00:00,31.0,0.585315,-0.294000,0.827396,0.297633,0.982019,1.198545,0.466585,-0.194231,...,False,False,False,False,False,False,False,True,False,False

In [11]:
df.shape

(2143, 613)

In [4]:
x = df.drop("PM-10", axis = 1)

In [5]:
y = df["PM-10"]

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3, random_state= 42)

In [14]:
# 훈련 세트와 검증 세트로 나누기
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size= 0.3, random_state= 42)

In [15]:
x_train.shape

(1050, 612)

In [21]:
# LSTM 모델 생성
timesteps = 16
model = keras.Sequential()
model.add(keras.layers.Dense(256, input_shape =(timesteps, 612))) # 순서를 바꿔야 할 수도 있음
model.add(keras.layers.LSTM(128))
model.add(keras.layers.Dropout(0.5))
model.add(keras.layers.Dense(1, activation = "linear"))

In [22]:
# 모델 컴파일
model.compile(optimizer='adam', loss='mean_squared_error')

# 모델 요약 출력
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 16, 256)           156928

 lstm_2 (LSTM)               (None, 128)               197120

 dropout (Dropout)           (None, 128)               0

 dense_3 (Dense)             (None, 1)                 129

=================================================================
Total params: 354177 (1.35 MB)
Trainable params: 354177 (1.35 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
history = model.fit(x_train, y_train, epochs = 20, validation_data= (x_val, y_val))