In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

### 데이터 읽기 및 확인

In [47]:
# 중국 산업, 에너지, 대중교통, pmi 지수
cn_indus = pd.read_csv("./중국사회경제/중국산업생산량.csv", index_col = 0)
cn_energ = pd.read_csv("./중국사회경제/중국에너지데이터전처리.csv", index_col = 0)
cn_trans = pd.read_csv("./중국사회경제/중국_대중교통_경제데이터.csv", index_col = 0)
cn_stock = pd.read_csv("./중국사회경제/중국주가종합.csv", index_col = 0)

In [4]:
cn_indus.head()

,air_conditioners_1,air_conditioners_2,alternating_current_motors,aluminum_alloy,aluminum_oxide,aluminum_products,beer,bullet_trains,cars,caustic_soda,...,tobaccos,toughened_glass,traditional_chinese_medicine,trucks,welded_steel_pipe,wine,wire_rod,xerox_and_hectograph_printing_equipment,yarn,zinc
Apr 2024,241.0,3033.1,2869.5,140.1,686.3,584.0,276.4,25.0,86.1,351.9,...,1979.7,4736.2,17.5,30.1,542.1,0.8,1075.3,19.4,187.1,58.6
Mar 2024,301.7,3083.3,3007.0,144.9,677.6,603.0,306.9,48.0,92.2,368.4,...,2021.6,5065.9,19.1,36.9,567.3,1.2,1136.0,21.3,198.9,65.1
Feb 2024,213.8,1881.8,2236.0,111.0,669.8,488.2,283.3,100.0,64.0,343.4,...,3190.2,4402.3,15.8,24.1,326.3,1.0,1057.2,18.0,168.2,62.0
Jan 2024,213.8,1881.8,2236.0,111.0,669.8,488.2,283.3,100.0,64.0,343.4,...,3190.2,4402.3,15.8,24.1,326.3,1.0,1057.2,18.0,168.2,62.0
Dec 2023,269.0,2152.9,3229.6,139.0,684.4,594.6,214.8,144.0,111.3,368.9,...,813.0,5257.1,21.4,29.1,537.4,2.2,1083.3,19.9,201.9,66.1

In [8]:
cn_indus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, Apr 2024 to Jan 2015
Data columns (total 96 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   air_conditioners_1                                             112 non-null    float64
 1   air_conditioners_2                                             112 non-null    float64
 2   alternating_current_motors                                     112 non-null    float64
 3   aluminum_alloy                                                 112 non-null    float64
 4   aluminum_oxide                                                 112 non-null    float64
 5   aluminum_products                                              112 non-null    float64
 6   beer                                                           112 non-null    float64
 7   bullet_trains                                                  112 non-null    float64
 8   cars                                                           112 non-null    float64
 9   caustic_soda                                                   112 non-null    float64
 10  cement                                                         112 non-null    float64
 11  cement_equipment                                               112 non-null    float64
 12  chemical_fertilizers_manufactured                              112 non-null    float64
 13  chemical_fiber                                                 112 non-null    float64
 14  chemical_medicine                                              112 non-null    float64
 15  chemical_pesticides                                            112 non-null    float64
 16  cloth                                                          112 non-null    float64
 17  cold_rolled_steel_plate                                        112 non-null    float64
 18  color_television_sets                                          112 non-null    float64
 19  copper_products                                                112 non-null    float64
 20  corrugated_steel_bar                                           112 non-null    float64
 21  crude_iron_ore                                                 112 non-null    float64
 22  crude_steel                                                    112 non-null    float64
 23  electrical_instrument                                          112 non-null    float64
 24  electrolyzed_aluminum                                          112 non-null    float64
 25  electronic_computers                                           112 non-null    float64
 26  elevators_escalators_and_lifts                                 112 non-null    float64
 27  engines                                                        112 non-null    float64
 28  equipment_for_feed_production                                  112 non-null    float64
 29  equipment_for_mobile_communication_base_stations               112 non-null    float64
 30  equipment_for_packaging                                        112 non-null    float64
 31  equipment_for_prevention_and_control_of_atmospheric_pollution  112 non-null    float64
 32  ethylene                                                       112 non-null    float64
 33  excavators                                                     112 non-null    float64
 34  feed                                                           112 non-null    float64
 35  ferroalloy                                                     112 non-null    float64
 36  fresh_and_frozen_meat                                          112 non-null    float64
 37  home_refrigerators                                             112 non-null    float64
 38  home_washing_machines                                          112 non-null    float64
 39  industrial_boilers                                             112 non-null    float64
 40  insulating_glass                                               112 non-null    float64
 41  integrated_circuits                                            112 non-null    float64
 42  laminated_glass                                                112 non-null    float64
 43  large_tractors                                                 112 non-null    float64
 44  lead                                                           112 non-null    float64
 45  liquior                                                        112 non-null    float64
 46  lithium_ion_batteries                                          112 non-null    float64
 47  machine_made_paper_and_paperboards                             112 non-null    float64
 48  medium_tractors                                                112 non-null    float64
 49  medium_wide_steel_belt                                         112 non-null    float64
 50  metal_containers                                               112 non-null    float64
 51  metal_cutting_tools                                            112 non-null    float64
 52  metal_forming_machine_tools                                    112 non-null    float64
 53  metal_smelting_equipment                                       112 non-null    float64
 54  micro_computer_equipment                                       112 non-null    float64
 55  milk_products                                                  112 non-null    float64
 56  mobile_telephones                                              112 non-null    float64
 57  motor_vehicles                                                 112 non-null    float64
 58  optic_cable                                                    112 non-null    float64
 59  optoelectronic_devices                                         112 non-null    float64
 60  phosphate_ore                                                  112 non-null    float64
 61  photovoltaic_cells                                             112 non-null    float64
 62  pig_iron                                                       112 non-null    float64
 63  plain_glass                                                    112 non-null    float64
 64  plastic_products                                               112 non-null    float64
 65  portable_electric_devices                                      112 non-null    float64
 66  power_generation_equipment                                     112 non-null    float64
 67  primary_plastic                                                112 non-null    float64
 68  railway_locomotives                                            112 non-null    float64
 69  refined_copper                                                 112 non-null    float64
 70  refined_edible_vegetable_oil                                   112 non-null    float64
 71  refined_sugar                                                  112 non-null    float64
 72  rolled_steel                                                   112 non-null    float64
 73  salt                                                           112 non-null    float64
 74  silk_and_woven_fabric                                          112 non-null    float64
 75  small_tractors                                                 112 non-null    float64
 76  soda_ash                                                       112 non-null    float64
 77  soft_drinks                                                    112 non-null    float64
 78  steel_ships_for_civil_use                                      112 non-null    float64
 79  sulfuric_acid                                                  112 non-null    float64
 80  suv                                                            112 non-null    float64
 81  synthetic_detergents                                           112 non-null    float64
 82  synthetic_fiber                                                112 non-null    float64
 83  synthetic_rubber                                               112 non-null    float64
 84  ten_kinds_of_nonferrous_metals                                 112 non-null    float64
 85  tires                                                          112 non-null    float64
 86  tobaccos                                                       112 non-null    float64
 87  toughened_glass                                                112 non-null    float64
 88  traditional_chinese_medicine                                   112 non-null    float64
 89  trucks                                                         112 non-null    float64
 90  welded_steel_pipe                                              112 non-null    float64
 91  wine                                                           112 non-null    float64
 92  wire_rod                                                       112 non-null    float64
 93  xerox_and_hectograph_printing_equipment                        112 non-null    float64
 94  yarn                                                           112 non-null    float64
 95  zinc                                                           112 non-null    float64
dtypes: float64(96)
memory usage: 84.9+ KB

In [5]:
cn_energ.head()

,Output of Asphalt Current Period(10000 tons),Output of Coal Current Period(10000 tons),Output of Coalbed Gas Current Period(100 million cu.m),Output of Coke Current Period(10000 tons),Output of Crude oil Current Period(10000 tons),Output of Diesel Oil Current Period(10000 tons),Output of Electricity Current Period(100 million kwh),Output of Fuel Oil Current Period(10000 tons),Output of Gasoline Current Period(10000 tons),Output of Kerosene Current Period(10000 tons),Output of LNG Current Period(10000 tons),Output of LPG Current Period(10000 tons),Output of Naphtha Current Period(10000 tons),Output of Natural Gas Current Period(100 million cu.m),Output of Petroleum Coke Current Period(10000 tons),Output of Processing Volume of Crude oil Current Period(10000 tons),Output of Thermal Power Current Period(100 million kwh)
Apr 2024,273.8,37166.50,13.2,3849.00,1746.70,1727.0,6900.80,346.40,1332.3,469.20,190.2,408.20,652.8,198.40,269.60,5878.80,4578.70
Mar 2024,283.1,39933.30,12.8,3937.20,1837.10,1868.9,7476.90,402.00,1429.1,509.40,195.1,466.70,680.2,215.90,284.60,6377.60,5200.70
Feb 2024,257.9,35263.35,12.6,4019.75,1755.45,1665.7,7435.15,409.05,1374.8,473.95,166.4,456.35,669.2,208.35,282.75,5937.75,5400.95
Jan 2024,257.9,35263.35,12.6,4019.75,1755.45,1665.7,7435.15,409.05,1374.8,473.95,166.4,456.35,669.2,208.35,282.75,5937.75,5400.95
Dec 2023,289.3,41430.70,13.8,4128.10,1764.70,1840.0,8289.80,398.60,1296.2,395.60,174.4,442.50,734.7,208.60,314.20,6011.50,6109.10

In [9]:
cn_energ.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, Apr 2024 to Jan 2015
Data columns (total 17 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Output of Asphalt Current Period(10000 tons)                         112 non-null    float64
 1   Output of Coal Current Period(10000 tons)                            112 non-null    float64
 2   Output of Coalbed Gas Current Period(100 million cu.m)               112 non-null    float64
 3   Output of Coke Current Period(10000 tons)                            112 non-null    float64
 4   Output of Crude oil Current Period(10000 tons)                       112 non-null    float64
 5   Output of Diesel Oil Current Period(10000 tons)                      112 non-null    float64
 6   Output of Electricity Current Period(100 million kwh)                112 non-null    float64
 7   Output of Fuel Oil Current Period(10000 tons)                        112 non-null    float64
 8   Output of Gasoline Current Period(10000 tons)                        112 non-null    float64
 9   Output of Kerosene Current Period(10000 tons)                        112 non-null    float64
 10  Output of LNG Current Period(10000 tons)                             112 non-null    float64
 11  Output of LPG Current Period(10000 tons)                             112 non-null    float64
 12  Output of Naphtha Current Period(10000 tons)                         112 non-null    float64
 13  Output of Natural Gas Current Period(100 million cu.m)               112 non-null    float64
 14  Output of Petroleum Coke Current Period(10000 tons)                  112 non-null    float64
 15  Output of Processing Volume of Crude oil Current Period(10000 tons)  112 non-null    float64
 16  Output of Thermal Power Current Period(100 million kwh)              112 non-null    float64
dtypes: float64(17)
memory usage: 15.8+ KB

In [6]:
cn_trans.head()

,Passenger Traffic Current Period(10000 persons),Passenger Traffic of Railways Current Period(10000 persons),Passenger Traffic of Highways Current Period(10000 persons),Passenger Traffic of Waterways Current Period(10000 persons),Freight Traffic Current Period(10000 tons),Freight Traffic of Railways Current Period(10000 tons),Freight Traffic of Highways Current Period(10000 tons),Freight Traffic of Waterways Current Period(10000 tons),Manufacturing Purchasing Managers'' Index(%)
Apr 2024,143344.0,36015.0,99490.0,2244.0,482366.0,40759.0,359659.0,81880.0,50.4
Mar 2024,136031.0,32120.0,96397.0,1771.0,479003.0,43502.0,355260.0,80171.0,50.8
Feb 2024,135901.0,34657.0,93323.5,1930.5,383025.0,40293.5,272713.5,69953.0,49.1
Jan 2024,135901.0,34657.0,93323.5,1930.5,383025.0,40293.5,272713.5,69953.0,49.2
Dec 2023,73965.0,28986.0,38640.0,1280.0,472714.0,43558.0,343358.0,85723.0,49.0

In [10]:
cn_trans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, Apr 2024 to Jan 2015
Data columns (total 9 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Passenger Traffic Current Period(10000 persons)               112 non-null    float64
 1   Passenger Traffic of Railways Current Period(10000 persons)   112 non-null    float64
 2   Passenger Traffic of Highways Current Period(10000 persons)   112 non-null    float64
 3   Passenger Traffic of Waterways Current Period(10000 persons)  112 non-null    float64
 4   Freight Traffic Current Period(10000 tons)                    112 non-null    float64
 5   Freight Traffic of Railways Current Period(10000 tons)        112 non-null    float64
 6   Freight Traffic of Highways Current Period(10000 tons)        112 non-null    float64
 7   Freight Traffic of Waterways Current Period(10000 tons)       112 non-null    float64
 8   Manufacturing Purchasing Managers'' Index(%)                  112 non-null    float64
dtypes: float64(9)
memory usage: 8.8+ KB

In [7]:
cn_stock.head()

           날짜    cn_a50   cn_szse   cn_sha
0  2015-01-01  11860.36  11520.59  3350.52
1  2015-01-02  11860.36  11520.59  3350.52
2  2015-01-03  11860.36  11520.59  3350.52
3  2015-01-04  11860.36  11520.59  3350.52
4  2015-01-05  11860.36  11520.59  3350.52

In [11]:
cn_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3427 entries, 0 to 3426
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       3427 non-null   object
 1   cn_a50   3427 non-null   float64
 2   cn_szse  3427 non-null   float64
 3   cn_sha   3427 non-null   float64
dtypes: float64(3), object(1)
memory usage: 107.2+ KB

- 각각의 데이터에 결측은 없으나 다음의 문제점이 제기된다
- 주가 데이터는 일 단위, 나머지 데이터는 월단위로 이루어져 있다
    - 월 단위의 데이터를 일 단위로 변환할 필요가 있음
- 월 단위의 데이터들은 24년 5월의 데이터가 없다
    - 방법이없음

### 월단위 데이터 통합 후 일단위로 데이터 변경

In [38]:
# 데이터 통합
cn_economy = pd.concat([cn_indus, cn_energ, cn_trans], axis = 1)
cn_economy.head()

,air_conditioners_1,air_conditioners_2,alternating_current_motors,aluminum_alloy,aluminum_oxide,aluminum_products,beer,bullet_trains,cars,caustic_soda,...,Output of Thermal Power Current Period(100 million kwh),Passenger Traffic Current Period(10000 persons),Passenger Traffic of Railways Current Period(10000 persons),Passenger Traffic of Highways Current Period(10000 persons),Passenger Traffic of Waterways Current Period(10000 persons),Freight Traffic Current Period(10000 tons),Freight Traffic of Railways Current Period(10000 tons),Freight Traffic of Highways Current Period(10000 tons),Freight Traffic of Waterways Current Period(10000 tons),Manufacturing Purchasing Managers'' Index(%)
Apr 2024,241.0,3033.1,2869.5,140.1,686.3,584.0,276.4,25.0,86.1,351.9,...,4578.70,143344.0,36015.0,99490.0,2244.0,482366.0,40759.0,359659.0,81880.0,50.4
Mar 2024,301.7,3083.3,3007.0,144.9,677.6,603.0,306.9,48.0,92.2,368.4,...,5200.70,136031.0,32120.0,96397.0,1771.0,479003.0,43502.0,355260.0,80171.0,50.8
Feb 2024,213.8,1881.8,2236.0,111.0,669.8,488.2,283.3,100.0,64.0,343.4,...,5400.95,135901.0,34657.0,93323.5,1930.5,383025.0,40293.5,272713.5,69953.0,49.1
Jan 2024,213.8,1881.8,2236.0,111.0,669.8,488.2,283.3,100.0,64.0,343.4,...,5400.95,135901.0,34657.0,93323.5,1930.5,383025.0,40293.5,272713.5,69953.0,49.2
Dec 2023,269.0,2152.9,3229.6,139.0,684.4,594.6,214.8,144.0,111.3,368.9,...,6109.10,73965.0,28986.0,38640.0,1280.0,472714.0,43558.0,343358.0,85723.0,49.0

In [39]:
# 인덱스를 날짜 형식으로 변경
cn_economy.index = pd.to_datetime(cn_economy.index)
cn_economy.head()

C:\Users\ITSC\AppData\Local\Temp\ipykernel_10012\3067264482.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cn_economy.index = pd.to_datetime(cn_economy.index)

,air_conditioners_1,air_conditioners_2,alternating_current_motors,aluminum_alloy,aluminum_oxide,aluminum_products,beer,bullet_trains,cars,caustic_soda,...,Output of Thermal Power Current Period(100 million kwh),Passenger Traffic Current Period(10000 persons),Passenger Traffic of Railways Current Period(10000 persons),Passenger Traffic of Highways Current Period(10000 persons),Passenger Traffic of Waterways Current Period(10000 persons),Freight Traffic Current Period(10000 tons),Freight Traffic of Railways Current Period(10000 tons),Freight Traffic of Highways Current Period(10000 tons),Freight Traffic of Waterways Current Period(10000 tons),Manufacturing Purchasing Managers'' Index(%)
2024-04-01,241.0,3033.1,2869.5,140.1,686.3,584.0,276.4,25.0,86.1,351.9,...,4578.70,143344.0,36015.0,99490.0,2244.0,482366.0,40759.0,359659.0,81880.0,50.4
2024-03-01,301.7,3083.3,3007.0,144.9,677.6,603.0,306.9,48.0,92.2,368.4,...,5200.70,136031.0,32120.0,96397.0,1771.0,479003.0,43502.0,355260.0,80171.0,50.8
2024-02-01,213.8,1881.8,2236.0,111.0,669.8,488.2,283.3,100.0,64.0,343.4,...,5400.95,135901.0,34657.0,93323.5,1930.5,383025.0,40293.5,272713.5,69953.0,49.1
2024-01-01,213.8,1881.8,2236.0,111.0,669.8,488.2,283.3,100.0,64.0,343.4,...,5400.95,135901.0,34657.0,93323.5,1930.5,383025.0,40293.5,272713.5,69953.0,49.2
2023-12-01,269.0,2152.9,3229.6,139.0,684.4,594.6,214.8,144.0,111.3,368.9,...,6109.10,73965.0,28986.0,38640.0,1280.0,472714.0,43558.0,343358.0,85723.0,49.0

In [40]:
# 15년 1월 1일부터 24년 4월 30일까지의 날짜 리스트 생성
date_list = pd.date_range(start = "2015-01-01", end = "2024-04-30")

In [41]:
# 데이터에 없는 날짜 추가
for date in date_list:
    if date not in cn_economy.index:
        cn_economy.loc[date, :] = np.nan

In [42]:
cn_economy.tail()

,air_conditioners_1,air_conditioners_2,alternating_current_motors,aluminum_alloy,aluminum_oxide,aluminum_products,beer,bullet_trains,cars,caustic_soda,...,Output of Thermal Power Current Period(100 million kwh),Passenger Traffic Current Period(10000 persons),Passenger Traffic of Railways Current Period(10000 persons),Passenger Traffic of Highways Current Period(10000 persons),Passenger Traffic of Waterways Current Period(10000 persons),Freight Traffic Current Period(10000 tons),Freight Traffic of Railways Current Period(10000 tons),Freight Traffic of Highways Current Period(10000 tons),Freight Traffic of Waterways Current Period(10000 tons),Manufacturing Purchasing Managers'' Index(%)
2024-04-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# 인덱스를 기준으로 정렬
cn_economy = cn_economy.sort_index()

In [44]:
# ffill을 활용하여 월별로 동일한 데이터 입력
cn_economy = cn_economy.ffill()

### 주가 데이터와 병합 및 마무리

In [52]:
# cn_stock의 인덱스를 날짜 타입으로 변경
cn_stock.index = pd.to_datetime(cn_stock.index)

In [54]:
# 주가 데이터와의 병합
cn_economy = pd.concat([cn_economy, cn_stock], axis = 1)

In [58]:
# 결측치가 있는 5월 데이터 제거
cn_economy = cn_economy.dropna()

In [60]:
# 저장 후 확인
cn_economy.to_csv("./중국사회경제/중국사회경제종합.csv")
cn_economy2 = pd.read_csv("./중국사회경제/중국사회경제종합.csv", index_col = 0)
cn_economy2.head()

,air_conditioners_1,air_conditioners_2,alternating_current_motors,aluminum_alloy,aluminum_oxide,aluminum_products,beer,bullet_trains,cars,caustic_soda,...,Passenger Traffic of Highways Current Period(10000 persons),Passenger Traffic of Waterways Current Period(10000 persons),Freight Traffic Current Period(10000 tons),Freight Traffic of Railways Current Period(10000 tons),Freight Traffic of Highways Current Period(10000 tons),Freight Traffic of Waterways Current Period(10000 tons),Manufacturing Purchasing Managers'' Index(%),cn_a50,cn_szse,cn_sha
2015-01-01,177.2,1195.1,2211.7,49.1,438.6,381.2,372.6,231.0,120.9,257.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-02,177.2,1195.1,2211.7,49.1,438.6,381.2,372.6,231.0,120.9,257.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-03,177.2,1195.1,2211.7,49.1,438.6,381.2,372.6,231.0,120.9,257.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-04,177.2,1195.1,2211.7,49.1,438.6,381.2,372.6,231.0,120.9,257.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-05,177.2,1195.1,2211.7,49.1,438.6,381.2,372.6,231.0,120.9,257.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52