In [1]:
import pandas as pd
import numpy as np

# 데이터 불러오기

In [89]:
cus_df = pd.read_excel("./데이터/국내 사회경제/국내 품목별 소비자물가상승률.xlsx", index_col = 0)
cus_df = cus_df.T

In [90]:
cus_df.head()

         소비자물가  - 농축수산물  - 공업제품  - 집세  - 공공서비스  - 개인서비스  근원물가  생활물가
201501월    1.0      1.7     0.2   2.7      0.5      1.9   2.6  -0.3
201502월    0.6      1.8    -0.8   2.6      0.4      1.9   2.4  -0.6
201503월    0.5     -0.1    -0.4   2.5      0.6      1.9   2.2  -0.6
201504월    0.4      0.2    -0.5   2.4      0.7      1.9   2.1  -0.7
201505월    0.6      2.7    -0.3   2.5      0.7      1.8   2.1  -0.5

In [91]:
cus_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, 201501월 to 202404월
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   소비자물가    112 non-null    float64
 1   - 농축수산물  112 non-null    float64
 2   - 공업제품   112 non-null    float64
 3   - 집세     112 non-null    float64
 4   - 공공서비스  112 non-null    float64
 5   - 개인서비스  112 non-null    float64
 6   근원물가     112 non-null    float64
 7   생활물가     112 non-null    float64
dtypes: float64(8)
memory usage: 7.9+ KB

In [92]:
cus_df.describe()

,소비자물가,- 농축수산물,- 공업제품,- 집세,- 공공서비스,- 개인서비스,근원물가,생활물가
count,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000
mean,1.950893,4.225893,1.516964,1.120536,0.571429,2.842857,2.000000,2.101786
std,1.576402,4.438443,2.416791,0.896353,1.273813,1.382693,1.236094,2.069251
min,-0.400000,-8.200000,-1.800000,-0.200000,-6.000000,0.500000,0.200000,-0.900000
25%,0.700000,0.900000,-0.300000,0.275000,0.100000,1.900000,1.175000,0.400000
50%,1.450000,3.400000,1.050000,1.250000,0.700000,2.550000,1.600000,1.550000
75%,2.825000,7.600000,2.300000,1.825000,1.025000,3.025000,2.600000,3.500000
max,6.300000,16.100000,9.300000,2.700000,6.100000,6.300000,4.800000,7.800000

# 상승률(폭)이기 때문에 해당컬럼2번으로 컬럼추가생성

- 월이 지나면서 이전 월의 상승률 ( + )

In [ ]:
cus_df["소비자물가2"] = cus_df["소비자물가"].map(lambda x : 100 + x)

In [94]:
cus_df

         소비자물가  - 농축수산물  - 공업제품  - 집세  - 공공서비스  - 개인서비스  근원물가  생활물가  소비자물가2
201501월    1.0      1.7     0.2   2.7      0.5      1.9   2.6  -0.3   101.0
201502월    0.6      1.8    -0.8   2.6      0.4      1.9   2.4  -0.6   100.6
201503월    0.5     -0.1    -0.4   2.5      0.6      1.9   2.2  -0.6   100.5
201504월    0.4      0.2    -0.5   2.4      0.7      1.9   2.1  -0.7   100.4
201505월    0.6      2.7    -0.3   2.5      0.7      1.8   2.1  -0.5   100.6
...        ...      ...     ...   ...      ...      ...   ...   ...     ...
202312월    3.2      7.7     2.1  -0.1      1.9      3.9   3.1   3.7   103.2
202401월    2.8      8.0     1.8  -0.2      2.2      3.5   2.6   3.4   102.8
202402월    3.1     11.4     2.1  -0.1      2.0      3.4   2.6   3.7   103.1
202403월    3.1     11.7     2.2   0.0      2.0      3.1   2.4   3.8   103.1
202404월    2.9     10.6     2.2   0.0      2.2      2.8   2.3   3.5   102.9

[112 rows x 9 columns]

In [81]:
for i in range(len(cus_df) - 1):
    cus_df.iloc[i + 1, -1] = round(cus_df.iloc[i, -1] + cus_df.iloc[i + 1, 0], 1)

In [95]:
cus_df

         소비자물가  - 농축수산물  - 공업제품  - 집세  - 공공서비스  - 개인서비스  근원물가  생활물가  소비자물가2
201501월    1.0      1.7     0.2   2.7      0.5      1.9   2.6  -0.3   101.0
201502월    0.6      1.8    -0.8   2.6      0.4      1.9   2.4  -0.6   100.6
201503월    0.5     -0.1    -0.4   2.5      0.6      1.9   2.2  -0.6   100.5
201504월    0.4      0.2    -0.5   2.4      0.7      1.9   2.1  -0.7   100.4
201505월    0.6      2.7    -0.3   2.5      0.7      1.8   2.1  -0.5   100.6
...        ...      ...     ...   ...      ...      ...   ...   ...     ...
202312월    3.2      7.7     2.1  -0.1      1.9      3.9   3.1   3.7   103.2
202401월    2.8      8.0     1.8  -0.2      2.2      3.5   2.6   3.4   102.8
202402월    3.1     11.4     2.1  -0.1      2.0      3.4   2.6   3.7   103.1
202403월    3.1     11.7     2.2   0.0      2.0      3.1   2.4   3.8   103.1
202404월    2.9     10.6     2.2   0.0      2.2      2.8   2.3   3.5   102.9

[112 rows x 9 columns]

In [96]:
cus_df.columns

Index(['소비자물가', '- 농축수산물', '- 공업제품', '- 집세', '- 공공서비스', '- 개인서비스', '근원물가',
       '생활물가', '소비자물가2'],
      dtype='object')

In [97]:
# 나머지 컬럼도 동일하게 적용
cus_df["농축수산물"] = cus_df.iloc[:,1].map(lambda x : 100 + x)
cus_df["공업제품"] = cus_df.iloc[:,2].map(lambda x : 100 + x)
cus_df["집세"] = cus_df.iloc[:,3].map(lambda x : 100 + x)
cus_df["공공서비스"] = cus_df.iloc[:,4].map(lambda x : 100 + x)
cus_df["개인서비스"] = cus_df.iloc[:,5].map(lambda x : 100 + x)
cus_df["근원물가2"] = cus_df.iloc[:,6].map(lambda x : 100 + x)
cus_df["생활물가2"] = cus_df.iloc[:,7].map(lambda x : 100 + x)

In [98]:
cus_df

,소비자물가,- 농축수산물,- 공업제품,- 집세,- 공공서비스,- 개인서비스,근원물가,생활물가,소비자물가2,농축수산물,공업제품,집세,공공서비스,개인서비스,근원물가2,생활물가2
201501월,1.0,1.7,0.2,2.7,0.5,1.9,2.6,-0.3,101.0,101.7,100.2,102.7,100.5,101.9,102.6,99.7
201502월,0.6,1.8,-0.8,2.6,0.4,1.9,2.4,-0.6,100.6,101.8,99.2,102.6,100.4,101.9,102.4,99.4
201503월,0.5,-0.1,-0.4,2.5,0.6,1.9,2.2,-0.6,100.5,99.9,99.6,102.5,100.6,101.9,102.2,99.4
201504월,0.4,0.2,-0.5,2.4,0.7,1.9,2.1,-0.7,100.4,100.2,99.5,102.4,100.7,101.9,102.1,99.3
201505월,0.6,2.7,-0.3,2.5,0.7,1.8,2.1,-0.5,100.6,102.7,99.7,102.5,100.7,101.8,102.1,99.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202312월,3.2,7.7,2.1,-0.1,1.9,3.9,3.1,3.7,103.2,107.7,102.1,99.9,101.9,103.9,103.1,103.7
202401월,2.8,8.0,1.8,-0.2,2.2,3.5,2.6,3.4,102.8,108.0,101.8,99.8,102.2,103.5,102.6,103.4
202402월,3.1,11.4,2.1,-0.1,2.0,3.4,2.6,3.7,103.1,111.4,102.1,99.9,102.0,103.4,102.6,103.7
202403월,3.1,11.7,2.2,0.0,2.0,3.1,2.4,3.8,103.1,111.7,102.2,100.0,102.0,103.1,102.4,103.8
202404월,2.9,10.6,2.2,0.0,2.2,2.8,2.3,3.5,102.9,110.6,102.2,100.0,102.2,102.8,102.3,103.5

In [99]:
for i in range(8):
    for j in range(len(cus_df) - 1):
        cus_df.iloc[j + 1, i + 8] = round(cus_df.iloc[j, i + 8] + cus_df.iloc[j + 1, i], 1)

In [100]:
cus_df

,소비자물가,- 농축수산물,- 공업제품,- 집세,- 공공서비스,- 개인서비스,근원물가,생활물가,소비자물가2,농축수산물,공업제품,집세,공공서비스,개인서비스,근원물가2,생활물가2
201501월,1.0,1.7,0.2,2.7,0.5,1.9,2.6,-0.3,101.0,101.7,100.2,102.7,100.5,101.9,102.6,99.7
201502월,0.6,1.8,-0.8,2.6,0.4,1.9,2.4,-0.6,101.6,103.5,99.4,105.3,100.9,103.8,105.0,99.1
201503월,0.5,-0.1,-0.4,2.5,0.6,1.9,2.2,-0.6,102.1,103.4,99.0,107.8,101.5,105.7,107.2,98.5
201504월,0.4,0.2,-0.5,2.4,0.7,1.9,2.1,-0.7,102.5,103.6,98.5,110.2,102.2,107.6,109.3,97.8
201505월,0.6,2.7,-0.3,2.5,0.7,1.8,2.1,-0.5,103.1,106.3,98.2,112.7,102.9,109.4,111.4,97.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202312월,3.2,7.7,2.1,-0.1,1.9,3.9,3.1,3.7,306.6,531.6,261.6,225.8,155.6,405.6,314.1,321.0
202401월,2.8,8.0,1.8,-0.2,2.2,3.5,2.6,3.4,309.4,539.6,263.4,225.6,157.8,409.1,316.7,324.4
202402월,3.1,11.4,2.1,-0.1,2.0,3.4,2.6,3.7,312.5,551.0,265.5,225.5,159.8,412.5,319.3,328.1
202403월,3.1,11.7,2.2,0.0,2.0,3.1,2.4,3.8,315.6,562.7,267.7,225.5,161.8,415.6,321.7,331.9
202404월,2.9,10.6,2.2,0.0,2.2,2.8,2.3,3.5,318.5,573.3,269.9,225.5,164.0,418.4,324.0,335.4

In [101]:
cus_df.columns = ["소비자물가", "농축수산물", "공업제품", "집세", "공공서비스", "개인서비스", "근원물가", "생활물가",
                  "소비자물가2", "농축수산물2", "공업제품2", "집세2", "공공서비스2", "개인서비스2", "근원물가2", "생활물가2"]

In [102]:
cus_df

,소비자물가,농축수산물,공업제품,집세,공공서비스,개인서비스,근원물가,생활물가,소비자물가2,농축수산물2,공업제품2,집세2,공공서비스2,개인서비스2,근원물가2,생활물가2
201501월,1.0,1.7,0.2,2.7,0.5,1.9,2.6,-0.3,101.0,101.7,100.2,102.7,100.5,101.9,102.6,99.7
201502월,0.6,1.8,-0.8,2.6,0.4,1.9,2.4,-0.6,101.6,103.5,99.4,105.3,100.9,103.8,105.0,99.1
201503월,0.5,-0.1,-0.4,2.5,0.6,1.9,2.2,-0.6,102.1,103.4,99.0,107.8,101.5,105.7,107.2,98.5
201504월,0.4,0.2,-0.5,2.4,0.7,1.9,2.1,-0.7,102.5,103.6,98.5,110.2,102.2,107.6,109.3,97.8
201505월,0.6,2.7,-0.3,2.5,0.7,1.8,2.1,-0.5,103.1,106.3,98.2,112.7,102.9,109.4,111.4,97.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202312월,3.2,7.7,2.1,-0.1,1.9,3.9,3.1,3.7,306.6,531.6,261.6,225.8,155.6,405.6,314.1,321.0
202401월,2.8,8.0,1.8,-0.2,2.2,3.5,2.6,3.4,309.4,539.6,263.4,225.6,157.8,409.1,316.7,324.4
202402월,3.1,11.4,2.1,-0.1,2.0,3.4,2.6,3.7,312.5,551.0,265.5,225.5,159.8,412.5,319.3,328.1
202403월,3.1,11.7,2.2,0.0,2.0,3.1,2.4,3.8,315.6,562.7,267.7,225.5,161.8,415.6,321.7,331.9
202404월,2.9,10.6,2.2,0.0,2.2,2.8,2.3,3.5,318.5,573.3,269.9,225.5,164.0,418.4,324.0,335.4

In [103]:
cus_df.reset_index(inplace = True)

In [104]:
cus_df

,index,소비자물가,농축수산물,공업제품,집세,공공서비스,개인서비스,근원물가,생활물가,소비자물가2,농축수산물2,공업제품2,집세2,공공서비스2,개인서비스2,근원물가2,생활물가2
0,201501월,1.0,1.7,0.2,2.7,0.5,1.9,2.6,-0.3,101.0,101.7,100.2,102.7,100.5,101.9,102.6,99.7
1,201502월,0.6,1.8,-0.8,2.6,0.4,1.9,2.4,-0.6,101.6,103.5,99.4,105.3,100.9,103.8,105.0,99.1
2,201503월,0.5,-0.1,-0.4,2.5,0.6,1.9,2.2,-0.6,102.1,103.4,99.0,107.8,101.5,105.7,107.2,98.5
3,201504월,0.4,0.2,-0.5,2.4,0.7,1.9,2.1,-0.7,102.5,103.6,98.5,110.2,102.2,107.6,109.3,97.8
4,201505월,0.6,2.7,-0.3,2.5,0.7,1.8,2.1,-0.5,103.1,106.3,98.2,112.7,102.9,109.4,111.4,97.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,202312월,3.2,7.7,2.1,-0.1,1.9,3.9,3.1,3.7,306.6,531.6,261.6,225.8,155.6,405.6,314.1,321.0
108,202401월,2.8,8.0,1.8,-0.2,2.2,3.5,2.6,3.4,309.4,539.6,263.4,225.6,157.8,409.1,316.7,324.4
109,202402월,3.1,11.4,2.1,-0.1,2.0,3.4,2.6,3.7,312.5,551.0,265.5,225.5,159.8,412.5,319.3,328.1
110,202403월,3.1,11.7,2.2,0.0,2.0,3.1,2.4,3.8,315.6,562.7,267.7,225.5,161.8,415.6,321.7,331.9
111,202404월,2.9,10.6,2.2,0.0,2.2,2.8,2.3,3.5,318.5,573.3,269.9,225.5,164.0,418.4,324.0,335.4

In [105]:
cus_df.rename(columns = {"index" : "일자"}, inplace = True)

In [106]:
cus_df.head()

,일자,소비자물가,농축수산물,공업제품,집세,공공서비스,개인서비스,근원물가,생활물가,소비자물가2,농축수산물2,공업제품2,집세2,공공서비스2,개인서비스2,근원물가2,생활물가2
0,201501월,1.0,1.7,0.2,2.7,0.5,1.9,2.6,-0.3,101.0,101.7,100.2,102.7,100.5,101.9,102.6,99.7
1,201502월,0.6,1.8,-0.8,2.6,0.4,1.9,2.4,-0.6,101.6,103.5,99.4,105.3,100.9,103.8,105.0,99.1
2,201503월,0.5,-0.1,-0.4,2.5,0.6,1.9,2.2,-0.6,102.1,103.4,99.0,107.8,101.5,105.7,107.2,98.5
3,201504월,0.4,0.2,-0.5,2.4,0.7,1.9,2.1,-0.7,102.5,103.6,98.5,110.2,102.2,107.6,109.3,97.8
4,201505월,0.6,2.7,-0.3,2.5,0.7,1.8,2.1,-0.5,103.1,106.3,98.2,112.7,102.9,109.4,111.4,97.3

In [107]:
cus_df["일자"] = cus_df["일자"].map(lambda x : x[:-1])

In [108]:
cus_df

,일자,소비자물가,농축수산물,공업제품,집세,공공서비스,개인서비스,근원물가,생활물가,소비자물가2,농축수산물2,공업제품2,집세2,공공서비스2,개인서비스2,근원물가2,생활물가2
0,201501,1.0,1.7,0.2,2.7,0.5,1.9,2.6,-0.3,101.0,101.7,100.2,102.7,100.5,101.9,102.6,99.7
1,201502,0.6,1.8,-0.8,2.6,0.4,1.9,2.4,-0.6,101.6,103.5,99.4,105.3,100.9,103.8,105.0,99.1
2,201503,0.5,-0.1,-0.4,2.5,0.6,1.9,2.2,-0.6,102.1,103.4,99.0,107.8,101.5,105.7,107.2,98.5
3,201504,0.4,0.2,-0.5,2.4,0.7,1.9,2.1,-0.7,102.5,103.6,98.5,110.2,102.2,107.6,109.3,97.8
4,201505,0.6,2.7,-0.3,2.5,0.7,1.8,2.1,-0.5,103.1,106.3,98.2,112.7,102.9,109.4,111.4,97.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,202312,3.2,7.7,2.1,-0.1,1.9,3.9,3.1,3.7,306.6,531.6,261.6,225.8,155.6,405.6,314.1,321.0
108,202401,2.8,8.0,1.8,-0.2,2.2,3.5,2.6,3.4,309.4,539.6,263.4,225.6,157.8,409.1,316.7,324.4
109,202402,3.1,11.4,2.1,-0.1,2.0,3.4,2.6,3.7,312.5,551.0,265.5,225.5,159.8,412.5,319.3,328.1
110,202403,3.1,11.7,2.2,0.0,2.0,3.1,2.4,3.8,315.6,562.7,267.7,225.5,161.8,415.6,321.7,331.9
111,202404,2.9,10.6,2.2,0.0,2.2,2.8,2.3,3.5,318.5,573.3,269.9,225.5,164.0,418.4,324.0,335.4

In [109]:
cus_df.to_csv("./국내소비자물가지수.csv")